*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

/* STAR HEADER  */
header{
    padding: 60px 0px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container nav a{
    margin-right: 30px;
    color: #000;
}
.header__container nav a span{
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.header__container nav button{
    padding: 20px 35px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    cursor: cell;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    border: none;
    background-size: 200%;
    margin-left: 10px;
    transition: 1s;
}
.header__container nav a:hover span{
    animation: lamdeptrai 0.6s;
    color: #f55f8d;
}
.header__container nav a:hover{
    color: #f55f8d;
}
@keyframes lamdeptrai{
    50% {
        transform: translateY(100%);
        opacity: 0;

      }
      51% {
        transform: translateY(-100%);
        opacity: 0.5;
      } 
      100%{
        opacity: 1;
      }
}
.header__container nav button:hover{
    background-position: right center;
}
/* END HEADER  */
/* STAR INTRO */
.intro{
    background-image: url(./Samar/pic2.png);
    background-size: 100%;
    background-position: top;
    padding: 200px 0px 0px 0px;
    position: relative;
}
.intro__container{
    display: flex;
    align-items: center;
}
.intro__content{
    margin: 0px 10%;
}
.intro .intro__container .intro__content p:nth-of-type(1){
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}
.intro .intro__container .intro__content p:nth-of-type(2){
    font-size: 70px;
    font-weight: 800;
    margin: 20px 0px;
    line-height: 80px;
}
.intro .intro__container .intro__content p:nth-of-type(3){
    font-size: 18px;
    font-weight: 400;
    color: #636363;
    margin: 30px 0px;
}
.intro .intro__container .intro__content p:nth-of-type(4){
    font-size: 18px;
    font-weight: 400;
    color: #636363;
    margin: 30px 0px;
}
.intro .intro__container .intro__content p:nth-of-type(5){
    font-size: 18px;
    font-weight: 400;
    color: #636363;
    margin: 30px 0px;
}
.intro__content p i{
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    border-radius: 40px;
}
.intro__content button{
    padding: 20px 35px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    cursor: cell;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    border: none;
    background-size: 200%;
    transition: 1s;
}
.intro__content button:hover{
    background-position: right center;
}
.intro__img img{
    width: 100%;
    height: 100%;
}
/* STAR SERVICES  */
.services{
    background-image: url(./Samar/bg16.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px 0px 0px;
}
.services__title{
    text-align: center;
}
.services__title p:nth-of-type(1) {
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
h2{
    font-weight: 800;
    font-size: 70px;
}
.services__row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.services__item{
    padding: 30px 45px;
    text-align: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background: white;
}
.services__row .services__item:nth-of-type(2){
    margin: 0px 30px;
}
.services__item .services__img img{
    width: 80%;
}
.services__item .services__content p:nth-of-type(1){
    font-weight: 700;
    font-size: 25px;
    margin: 20px 0;
}
.services__item .services__content p:nth-of-type(2){
    font-weight: 400;
    color: #636363;
    line-height: 25px;
}
.services__row .services__item:hover{
    transform: translateY(-20px);
}
/* END SERVICES  */
/* STAR ABOUTUS  */
.aboutus{
    background: url(./Samar/bg15.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 90px 0px;
}
.aboutus__container{
    display: flex;
}
.aboutus__img{
    width: 45%;
    padding-top: 80px;
}
.aboutus__container .aboutus__img img{
    width: 100%;
    border-radius: 0px 70px 70px 0px;
    height: 80%;
}
.aboutus .about__content{
    padding-left: 80px;
}
.about__content p{
    color: #636363;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 25px;
}
.aboutus .about__content h2{
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 20px;
}
.aboutus__container .about__content p:first-of-type{
    font-weight: 600;
    font-size: 22px;
    color: #f55f8d;
    margin-bottom: 30px;
}
.aboutus__container .about__content i{
    width: 25px;
    border-radius: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 2px solid #636363;
    font-weight: bold;
}
.aboutus__container .about__content button{
    padding: 20px 35px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    cursor: cell;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    color: white;
    border: none;
    transition: 1s;
    margin-top: 20px;
}
.aboutus__container .about__content button:hover{
    background-position: right center;
}
/* END ABOUTUS  */
/* STAR COUNT  */
.count{
    background-image: url(./Samar/bg14.png);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0px;
}
.count__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.count__item{
    width: 25%;
}
.count__container i{
    font-size: 45px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
    color: white;
}
.count__container .count__item p:nth-of-type(2){
    font-size: 65px;
    color: #f55f8d;
    line-height: 65px;
    font-weight: 800;
    margin-top: 20px;
}
.count__container .count__item p:nth-of-type(3){
    font-size: 18px;
}
/* END COUNT  */
/* STAR FEATURES  */
.features{
padding:100px 0px 100px 10%;
background: url(./Samar/bg16.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.features__container{
    display: flex;
}
.features__left p:first-of-type{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
.features__left .features__item{
    display: flex;
    margin: 30px 0px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 20px 40px;
    width: 100%;
    position: relative;
    background: white;
}
.features__item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    border-radius: 15px;
    opacity: 0;
    transition: 0.7s;
}
.features__left .features__item:nth-of-type(2){
    margin-left: 30px;
}
.features__icon{
    position: relative;
    z-index: 1;
}

.features__left .features__item .features__icon i{
    color: #f55f8d;
    font-size: 80px;
    transition: 0.8s;
}
.features__content{
    position: relative;
    z-index: 1;
}
.features__item .features__content p:first-of-type{
    font-weight: 700;
    font-size: 25px;
    color: black;
    transition: 0.7s;
}
.features__item .features__content p:nth-of-type(2){
    color: #636363;
    font-weight: 400;
    line-height: 25px;
    transition: 0.8s;
}
.features__item:hover .features__icon i{
    color: white;
}
.features__item:hover .features__content p{
    color: white;
}
.features__item:hover:after{
    opacity: 1;
}
.features__right{
    width: 40%;
    flex-grow: 1;
    padding-left:60px;
}
.features__right img{
    width: 90%;
    height: 90%;
    animation: 4s infinite laclu;
}

@keyframes laclu{
    0% {
        transform: rotate(-3deg);
    }
    49%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(3deg);
    }
    100%{
        transform: rotate(-3deg);
    }
}
/* END FEATURES  */
/* STAR Portfolio  */
.portfolio {
    text-align: center;
    padding: 90px 0px;
}
.portfolio__title p:nth-of-type(1){
   color: #f55f8d;
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 20px;
}
.portfolio__grow{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 400px 200px 250px;
    gap: 40px;
    margin-top: 20px;
}
.portfolio__item{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.portfolio__grow .portfolio__item img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.portfolio__grow .portfolio__item:nth-of-type(1){
    grid-column: 1 / 3;
}
.portfolio__grow .portfolio__item:nth-of-type(6){
    grid-column: 1 / 3;
}
.portfolio__grow .portfolio__item:nth-of-type(5){
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.portfolio__item .portfolio__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: 0.75s;
    border-radius: 15px;
}
.portfolio__item .portfolio__icon{
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    color: white;
    transform: translate(20px,-20px);
    transition: 0.75s;

}
.portfolio__item .portfolio__content p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 22px;
    font-weight: 800;
    color: white;
    transform: translateY(50px);
    transition: 0.75s;
}
.portfolio__item .portfolio__content p span{
    color: #fff;
    opacity: 0.7;
    font-weight: 300;
    font-size: 18px;
}
.portfolio__item:hover .portfolio__content{
    opacity: 1;
}
.portfolio__item:hover .portfolio__content p{
    transform: translateY(0);
}
.portfolio__item:hover .portfolio__icon{
transform: translate(0,0)
}
.portfolio__grow .portfolio__item::after{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}

.portfolio__grow .portfolio__item:hover:after{
    /* background-position: right center; */
    width: 100%;
    left: 100%;
}
/* END PORTFOLIO  */
/* STAR PLAN  */
.plan{
text-align: center;
background: url(./Samar/bg16.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 90px 0;
}
.plan__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.plan__row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background: white;

}
.plan__item{
    text-align: center;
    width: 32%;
    border-radius: 15px;
    padding: 30px 50px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border: 3px solid transparent;
    border-image: 30 round;
    transition: .5s;;
}
.plan__contenttop{
    text-align: center;
    border-bottom: 1px solid #e1e1f0;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.plan__item h3{
    font-size: 32px;
    font-weight: 700;
}
.plan__contenttop p{
    font-size: 18px;
    font-weight: 600;
}
.plan__contenttop p span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan__img img{
    width: 40%;
    height: 40%;
    margin: 10px 0px;
}
.plan__contentbot p{
    font-size: 18px;
    color: #262626;
    line-height: 1.6;
    text-align: left;
    margin: 10px 0px;
}
.plan__contentbot p i{
    width: 26px;
    height: 26px;
    border-radius: 26px;
    line-height: 26px;
    text-align: center;
    background: #feeff3;
    color: #f55f8d;
    margin-right: 15px;
    font-size: 12px;
}
.plan__item button{
    padding: 20px 35px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    cursor: cell;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    border: none;
    background-size: 200%;
    margin-top: 20px;
    transition: all .5s;

}
.plan__item button:hover{
    background-position: right center;
}
.plan__item:hover{
    /* border: 3px dashed #6bb215; */
    border-image: url(./Samar/br.png) 1 round;
}     
/* END PLAN  */
/* STAR TESTIMONIAL  */
.testimonial{
background-image: url(./Samar/bg17.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
}
.testimonial__title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    line-height: 1.6;
}
/* STAR SWIPER  */
.testimonial__content {
    max-width: 1199px;
    margin: -40px auto;
    text-align: center;
    padding: 100px 0;
    /* background: white; */
  }
  
  .testimonialtop-thumbs .testimonial__img img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonialtop-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
  }
  .testimonial__bot {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
  }
  .testimonial__bot .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonialtop-thumbs .testimonial__img {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonialtop-thumbs .swiper-slide-thumb-active .testimonial__img {
    padding: 0 0 40px;
    position: relative;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .swiper-pagination {
    position: unset;
  }
  .swiper-pagination-bullet{
    margin: 10px;
    width: 10px;
    height: 10px;
    color: #636363;
  }
  .testimonial-text{
    height: 250px;  
    position: relative;  
  }
  .testimonial-text p:nth-of-type(1){
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .testimonial-text p:nth-of-type(2){
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 0 15px 15px;
    color: #f55f8d;
      margin-bottom: 20px;
      line-height: 1.6;
  }
  .testimonial-text p:nth-of-type(3){
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
    color: #636363;
    line-height: 1.6;
  }
  .swiper-pagination-bullet-active{
    background: #636363;
  }
  .testimonial-text .testimonial__icon i{
    position: absolute;
    font-size: 70px;
    color: #636363;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
  }
  .testimonialtop-thumbs .testimonial__img img{
    background-color: #f55f8d;
  }
  .testimonialtop-thumbs .swiper-slide-thumb-active .testimonial__img .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    /* background-color: #f55f8d; */
  }
  .testimonialtop-thumbs .swiper-slide-thumb-active .testimonial__img .shape-bx::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    background-color: #f55f8d;
    height: 100%;
    width: 100%;
    opacity: 1;
    animation: showup 1s 1;
  }
  @keyframes showup {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .testimonialtop-thumbs .swiper-slide-thumb-active .testimonial__img .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 15px;
    height: 15px;
    background-color: #f55f8d;
    transform: translateX(120%);
    border-radius: 100%;
    animation: 1s showup 1;
  }
  .testimonialtop-thumbs .swiper-slide-thumb-active .testimonial__img::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #f55f8d;
    transform: translateX(420%);
    border-radius: 100%;
    animation: 1s showupmini 1;
  }
  @keyframes showupmini {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.4;
    }
    100%{
      opacity: 1;
    }
  }
/* END SWIPER  */
/* END testimonial */
/* star blog  */
.blog{
    padding: 90px 0px;
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.blog__title{
    margin-bottom: 30px;
}
.blog__title p:first-child{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
    line-height: 1.6;
}
.blog__row .blog__item{
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    background:  rgba(245,95,141,.1);
    margin: 0px 15px;

}
.blog__row .blog__item .blog__img{
    position: relative;
}
.blog__row .blog__item img{
    width: 100%;
    height: 100%;
}
.blog__row .blog__item .blog__content {
    padding: 30px 15px;
}

.blog__row .blog__item .blog__content p:first-child{
    line-height: 1.4;
    font-size: 25px;
    font-weight: 700;
    color: #262626;
}
.blog__row .blog__item .blog__content p:nth-child(2){
    color: #636363;
    font-weight: 400;
}
.blog__row .blog__item .blog__icon{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-top: #16A085 1px solid;
    padding: 15px 15px;
}
.blog__row .blog__item .blog__icon p:first-child{
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    line-height: 1.6;
    margin-right: 40px;
}
.blog__row .blog__item .blog__img .blog__time{
    position: absolute;
    left: 30px;
    bottom: -20px;
    padding: 13px 20px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    border: none;
    background-size: 200%;
}

/* end block  */
/* STAR FOOTER  */
footer{
    background-image: url(./Samar/bg17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
    position: relative;
    display: block;
}
footer::before{
    content: "";
    background-image: url(./Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* footer top  */
.subscribe__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    background-image: url(./Samar/pattern3.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px ;
    background-color: white;
    border: none;
    margin-bottom: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
    z-index: 1;
}
.subscribe__title{
    font-size: 28px;
    color: #262626;
    line-height: 1.6;
    font-weight: bold;
}
.subscribe__form{
    display: flex;
    align-items: center;
    height: 50px;
}
.subscribe__form form input{
    padding: 30px 20px;
    width: 450px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #fff;
    outline: 0;
    transition: 1s;
    background: white;

}
.subscribe__form form input:hover{
    border-color: #16A085;

}
.subscribe__form button{
    height: 77px;
    width: 100px;
    border-radius: 0px 8px 8px 0px;
    border: none;   
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    background-size: 200%;
    transition: all .5s;
    font-size: 20px;
}
.subscribe__form button:hover{
    background-position: right center;
}
.subscribe__form button:hover i{
    animation: righttoleft 0.5s 1;
}
@keyframes righttoleft {
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    49%{
        transform: translateX(40px);
        opacity: 0;
    }
    50%{
        transform: translateX(-40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* end footet top  */
/* star footer bot  */
.footer__bot{
    text-align: left;
    padding: 50px 0px;
    position: relative;
    z-index: 1;
}
.footer__bot__container{
    display: flex;
    align-items: center;
}
.footer__itemaddress{
    margin-right: 30px;
}
.footer__img{
    margin-bottom: 20px;
}
.footer__address{
    display: flex;
    margin-bottom: 15px;
}
.footer__address i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    color: white;
    background-size: 200%;
    border-radius: 40px;
    margin-right: 15px;
}
.footer__address p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
}
.footer__item{
    margin-right: 150px;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: white;
    position: relative;
}
.footer__item h3::after{
    content: "";
    width: 16px;
    height: 3px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    display: block;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
}
.footer__item h3::before{
    content: "";
    width: 50px;
    height: 3px;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    background-size: 200%;
    display: block;
    border-radius: 5px;
    position: absolute;
    left: 25px;
    bottom: 0px;
}

.footer__item li{
    list-style: none;
    margin-bottom: 20px;
}
.footer__item li a{
    color: #636363;
    font-size: 16px;
    transition: 0.5s;
    text-decoration: none;
}
.footer__item li a:hover{
    color: white;
}
.footer__item li i{
    margin-right: 10px;
}
.footer__end{
    background-color: #1f343b   ;
    position: relative;
    z-index: 1;
}
.footer__endcontainer{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 5px;
    
}
.footer__endcontainer span{
    color: #f55f8d;
}
.footer__endcontainer i{
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,.1);
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    color: white;
    display: inline-block;
    transition: 0.5s;
}

.footer__endcontainer a:hover i{
background: #f55f8d;
}

.back__top i{
    width: 50px;
    height: 50px;
    background-color: #16A085;
    line-height: 50px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 2;
    border-radius: 10px;
}
